<template name="about">

	<div class="row">
		<div class="logo-brand">
			<img src="/assets/devthon-logo.svg"/>
		</div>
	</div>

	<div class="row about">

		<div class="row media">
			<div class="small-6 large-12 large-centered small-centered columns">
		    	<a class="button alert radius" href="https://www.dropbox.com/s/a5tkdamfr4h859k/Devthon-Media-Kit.zip">Download our Media Kit</a>
			</div>
		</div>

		<div class="row section">
		  <h4>About</h4>
		  <div class="about-us">
		  	<p>Devthon was founded in March 2013 to introduce the culture of <a target="_blank" href="http://www.catb.org/esr/faqs/hacker-howto.html#what_is">
		  		hacking</a>. The space targets at putting back the fun and exploration in the path of innovating. It could be electronics, 
		  		software, clothes - any field of interest. Anything that is close to your heart.</p>

		  	<p><bold>At the root of innovation is the culture of exploration and tinkering. If one has to see a Tesla or a Google emerging from India, it will be on the basis on how strong this culture takes root in our society, in colleges, universities &amp; workplaces. Possible outcomes of this culture would be new startups or new technology / an action culture which triggers to solve problems around themselves.</bold></p>

		  	<p>Every edition, each month, brings in a limited number of brilliant minds to put out their idea 
		  		and move towards executing that idea. Participants may bring in their expertise on the 
		  		table &amp; work with idea owners or propose an idea and work on it. At the end of each edition, 
		  		the objective is to have sparked that idea into action.</p>

		  	<p>Our goal is to create such spaces around the country within the next three years. 
		  		These spaces will aim at creating an innovation ecosystem that is driven by an individual's passion and interest in a field.</p>
		  </div>
        </div>

		<div class="row press-release section">
		  <h4>Media</h4>

		  <div class="large-12 large-centered columns">

	          <div class="large-5 small-5 columns">
	            <a href="http://newindianexpress.com/cities/hyderabad/A-space-to-discover-innovation-entrepreneurship/2013/11/27/article1912825.ece" target="_blank">
	            	<img src="/assets/press/new-indian-express.png" alt="New Indian Express">
	            	<div class="cardblock">
		            	<h5>New Indian Express</a></h5>
		            	<h6 class="subheader">November 27, 2013</h6>
	            	</div>
	            </a>
	          </div>

		  </div>
	    </div> <!-- end of press release -->

		<div class="row section">
		  <h4>Our Team</h4>

		  <div class="large-10 large-centered columns our-team">

	          <div class="large-4 small-6 columns">
	            <img src="/assets/prashant.png" alt="The Founder Guy">

	            <div class="panel">
	              <h5><a href="http://twitter.com/prashantkv">Prashant Venkatasubban</a></h5>
	              <h6 class="subheader">Founder</h6>
	            </div>
	          </div>

	          <div class="large-4 small-6 columns">
	            <img src="/assets/harish.png" alt="The Partner">

	            <div class="panel">
	              <h5><a href="http://about.me/harish.krishnan">Harish Krishnan</a></h5>
	              <h6 class="subheader">Partner</h6>
	            </div>
	          </div>


	          <div class="large-4 small-6 columns">
	            <img src="/assets/venkatesh.png" alt="The Partner">

	            <div class="panel">
	              <h5><a href="http://about.me/goteti">Venkatesh Goteti</a></h5>
	              <h6 class="subheader">Partner</h6>
	            </div>
	          </div>

		  </div>

        </div>


		<div class="row section">
		  <h4>How to be part?</h4>

		    <div class="large-3 columns">
		    	<div class="row">
		    		<div class="large-3 columns">
		      			<img class="icon" src="/assets/about/propose.svg">
		    		</div>
		    		<div class="large-9 columns">
		      			<h5>Engage</h5>
		      		</div>
		    	</div>
    			<div class="{{permitted}} large-12">
					<p>Suggest problem statements from your field of interest or find solutions to challenges that 
					you look forward to work on. Hack on ideas, or tinker around existing solutions</p>
    			</div>
		    </div>

		    <div class="large-3 columns">
		    	<div class="row">
		    		<div class="large-3 columns">
		      			<img class="icon" src="/assets/about/connect.svg">
		    		</div>
		    		<div class="large-9 columns">
		      			<h5>Connect</h5>
		      		</div>
		    	</div>
    			<div class="{{permitted}} large-12">
					<p>Participate or collaborate with those who like your idea or invite 
						hackers who you have been looking forward to work with. 
						Or be part of another hack that you find interesting.</p>
		    	</div>
		    </div>

		    <div class="large-3 columns">
		    	<div class="row">
		    		<div class="large-3 columns">
		      			<img class="icon" src="/assets/about/facilitate.svg">
		    		</div>
		    		<div class="large-9 columns">
		      			<h5>Facilitate</h5>
		      		</div>
		    	</div>
    			<div class="{{permitted}} large-12">
					<p>Work with others to add in your expertise from 
		          	your field of interest to solve the problem statement. 
		          	Contribute to ideas and enable quicker solutions.</p>
		    	</div>
		    </div>

		    <div class="large-3 small-12 forum columns">
		      <div class="panel">
	          	{{> join }}
    			<div class="{{permitted}} large-12">
			      	<p>Start new topics, join an  existing discussion, suggest resources related 
			      		to hacks proposed for Devthon. Most importantly have fun and keep looking out for 
		          		next editions!</p>
	          	</div>
		      </div>
		    </div>
		  </div>
	</div>

	<div class="row">
		<div class="logo-brand">
			<img src="/assets/dummy-logo.svg"/>
		</div>
	</div>
</template>