<template name="footer">
	<div id="footer">
		<div class="large-12 columns attribution">
			<p>Copyright © 2013 Devthon</p>
		</div>

		<div class="large-8 large-centered columns attribution">
			<a href="http://thenounproject.com/noun/map-marker/#icon-No9093" target="_blank">Map Marker</a> designed by <a href="http://thenounproject.com/schumanncombo" target="_blank">Richard Schumann</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/teamwork/#icon-No16724" target="_blank">Teamwork</a> designed by <a href="http://thenounproject.com/factor_e" target="_blank">factor[e] design initiative</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/problem-solving/#icon-No8092" target="_blank">Problem Solving</a> designed by <a href="http://thenounproject.com/Rob Maslin" target="_blank">Rob Maslin</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/bubble-graph/#icon-No17425" target="_blank">Bubble Graph</a> designed by <a href="http://thenounproject.com/tuesdaysue" target="_blank">Sue Cardwell</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/cpu/#icon-No9694" target="_blank">CPU</a> designed by <a href="http://thenounproject.com/m.j.anthony" target="_blank">Michael Anthony</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/music/#icon-No19440" target="_blank">Music</a> designed by <a href="http://thenounproject.com/Hum" target="_blank">Hum</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/shield/#icon-No7005" target="_blank">Shield</a> designed by <a href="http://thenounproject.com/charleneys" target="_blank">Charlene Chen</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/camera/#icon-No3987" target="_blank">Camera</a> designed by <a href="http://thenounproject.com/Simon Child" target="_blank">Simon Child</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/video-chat/#icon-No15554" target="_blank">Video Chat</a> designed by <a href="http://thenounproject.com/MRFADesigns" target="_blank">Martha Ormiston</a> from The Noun Project
			 | <a href="http://thenounproject.com/noun/talking/#icon-No14887" target="_blank">Talking</a> designed by <a href="http://thenounproject.com/bravo" target="_blank">Juan Pablo Bravo</a> from The Noun Project
		</div>

	</div>
</template>