<template name="header">
  <!-- Header -->
  <div class="row header">
  	<div id="logo-container" class="large-4 small-8 small-centered large-centered columns">
  		<a href="/"><img class="brand" src="/assets/devthon_logo.png"></a>
  	</div>
	<div class="large-4 small-6 large-centered small-centered columns">
		<a href="/"><h1>DEVTHON</h1></a>
	</div>
	<div class="large-10 small-10 small-centered large-centered columns">
			<h2>Innovation space to spark your ideas to action</h2>
	</div>
	<div class="large-10 small-8 small-centered large-centered columns">
			<h3>Meet curious &amp; tinkering minds and spend a weekend sparking new ideas, 
				work on existing hacks or explore what is close to your heart, anything that you love!</h3>
	</div>
	{{#if address}}
	<div class="large-12 large-centered columns">
	    <h5><a href="{{map}}" target="_blank">
	    	<img src="/assets/marker.svg" width="16px">
	    	{{address}}
	    </a></h5>
	</div>
	{{/if}}
	<div class="large-4 large-centered columns date">
	    <h4>{{date}}</h4>
	</div>
  </div>
  <!-- End Header -->
</template>
