<template name="navigation">
	<div id="social" class="inactive">
		<ul class="icons">
	  		<li class="columns">
	  			<a href="http://fb.com/devthon">
	  				<img src="/assets/facebook.png">
	  			</a>
	  		</li>
	  		<li class="columns">
	  			<a href="http://twitter.com/devthon">
	  				<img src="/assets/twitter.png"></a>
  			</li>
		</ul>
	</div>
	<div class="large-10 large-centered small-8 small-centered sticky navigation menubar">
		{{#unless activeLink 'home'}}
			<div class="large-1 columns logo">
				<a href="/">
					<img class="masterbrand" src="/assets/logo_mini.png">
				</a>
			</div>
		{{/unless}}

		<nav class="top-bar">
		  <ul class="menu-area">
		  	<a href="/proposals" class="nav-proposals">
		  		<li class="large-2 columns name {{activeLink 'proposals'}}">Proposals</li>
		  	</a>
		  	<a href="/awesome-hacks" class="nav-hacks">
		  		<li class="large-2 columns name {{activeLink 'hacks'}}">Awesome Hacks</li>
		  	</a>
		  	<a href="/hackers" class="nav-hackers">
		  		<li class="large-2 columns name {{activeLink 'hackers'}}">Hackers</li>
		  	</a>
		  	<a href="/editions" class="nav-editions">
		  		<li class="large-2 columns name {{activeLink 'editions'}}">Editions</li>
		  	</a>
		  	<a href="/friends" class="nav-friends">
		  		<li class="large-2 columns name {{activeLink 'friends'}}">Friends</li>
		  	</a>
		  	<a href="/about" target="_blank" class="nav-about">
		  		<li class="large-2 columns name {{activeLink 'about'}}">About</li>
		  	</a>
		  	<a href="http://blog.devthon.org" target="_blank" class="nav-blog">
		  		<li class="large-2 columns name">Blog</li>
		  	</a>
		  	<li class="large-1 columns social">
		  		{{#constant}}
		  			{{> recommend-button}}
		  		{{/constant}}
		  	</li>
		  	<li class="large-1 columns social">
		  		{{#constant}}
		  			{{> tweeter}}
		  		{{/constant}}
		  	</li>
		  </ul>
		</nav>

		
		{{#if currentUser}}
		<div class="accounts">
			{{loginButtons}}
		</div>
		{{/if}}

	</div>
</template>

<template name="tweeter">
	<a href="https://twitter.com/devthon" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @devthon</a>
</template>

<template name="recommend-button">
	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fdevthon&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=623498890999333" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
</template>
