.hacker {
	float: left!important;
	padding: 20px;

	p {
		font-weight: 700;
		font-size: 11pt;
		margin-bottom: 6px;
		line-height: 1;
	}

	li {
		font-size: 10pt;
		line-height: 1.3em;
		list-style-type: none;
	}
}

.circular {
    width:100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.alignThis {
	display: table-cell;
	width: 200px;
	height: 127px;
	vertical-align: middle;
}
