.hacksay {
	text-align: center;
	a {
		font-size: 12.5px;
		color: #87100D;
		text-align: right;
		padding: 2px;

		&:hover {
			color: #d02c27;
			border-bottom: 1px dotted #d02c27;
		}
	}
}

.hacks {
	padding: 2em 0;	

	.hack {

		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 8px;
		padding: 10px 5px;
		margin-bottom: 1em;

		h5 {
			font-size: 1.025em;
			letter-spacing: -0.5px;
			font-weight: normal;
			line-height: 1.2 !important;
		}

		ul {
			list-style: none;

			li {
				float: left;
				font-size: 12.5px;

				a {
					color: #d02c27;

					&:hover {
						border-bottom: 1px dotted #d02c27;
					}
				}
			}
		}

		img {
			padding: 4px 2px;
		}

		p {
			margin: 0;
			padding: 5px 0;
		}
	}

}

.hacker {
	float: left!important;
	padding: 20px;

	p {
		font-weight: 700;
		font-size: 11pt;
		margin-bottom: 6px;
		line-height: 1;
	}

	li {
		font-size: 10pt;
		line-height: 1.3em;
		list-style-type: none;
	}
}

.circular {
    width:100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.alignThis {
	display: table-cell;
	width: 200px;
	height: 127px;
	vertical-align: middle;
}
