.addressStyle {
	font-size: 13.5px;	
}

.noBottomMargin {
	margin-bottom: 0 !important;
}

.noTopMargin {
	margin-top: 0 !important;
}

.clearTopMargin {
	margin-top: 5px !important;
}

.largeTopMargin {
	margin-top: 10px !important;
}

.largeBottomMargin {
	margin-bottom: 10px !important;
}

.rowBottomPaddingProperty {
	padding-bottom: 12px;
}

.personTextStyle {
    font-size: 14px;
}

.scaledImageProperty {
    margin-bottom: 8px;
}

ul.nameCards {

	padding-left: 0;
	padding-right: 0;

	li {
		height: 480px;
	}
}

.cardProperty {
	list-style: none;
    color: #0f0f0f;
}

.noHover {

    cursor: pointer;

    &:hover {
        cursor: default;
    }
}

.mainTextStyle {
	text-align: center;
	letter-spacing: -1px;
	font-size: 24px;
	margin-top: -0.925em;
	padding: 4px;

	span {
	    background-image: url('/assets/bg_texture.png');
	    background-repeat: repeat;
	    padding: 10px;
	}
}

.alignMiddle {
	text-align: center;
	margin-top: 10px;
}

.cfa {
	background: url("/assets/Question-ticket_why.svg") no-repeat 0 0 transparent;
	background-size: 10%;
}

div.block {
	margin-top: 2em;
	border-top: 3px dotted #ccc;
}

a {
	&.button {
	
		font-weight: normal;

		p {
			margin: 0;
			font-size: 0.825em;
			margin-bottom: 0;
		}
	}
}

.tooltip {
	font-size: 12.5px !important;
	font-weight: normal !important;
	width: 30% !important;
}

.subtext {
	color: #d02c27;
	font-size: 12.5px;
	font-weight: normal;
	text-align: center;
}

.lineBottom {
	border-bottom: 1px dotted #d02c27;
}