d {
	font-size: 1.3em;
}

.samples {

	ul {
		li {
			min-height: 13em;
			padding: 0 5px;

			&:hover {
				cursor: pointer;
				background-color: #ddd;
			}
		}
	}
}

.proposal {
	padding: 10px 0;
	min-height: 10em;
	margin-bottom: 1.5em;

	&:hover {
		cursor: pointer;
		background-color: #ddd;
	}

	img {
		padding: 4px 2px;
	}

	p {
		margin: 0;
		padding: 5px 0;
	}
}

.hacks {
	.proposal {
		min-height: 20em;

		h4 {
			font-size: 1.3em;
		}

		p {
			font-size: 15px;
		}
	}
}