.rowBottomPaddingProperty {
	padding-bottom: 12px;
}

.personTextStyle {
    font-size: 14px;
}

.scaledImageProperty {
    margin-bottom: 8px;
}

ul.nameCards {

	padding-left: 0;
	padding-right: 0;

	li {
		height: 480px;
	}
}

.cardProperty {
	list-style: none;
    color: #0f0f0f;
}

.noHover {

    cursor: pointer;

    &:hover {
        cursor: default;
    }
}

.mainTextStyle {
	text-align: center;
}