<template name="editions">
  <div id="cities" class="background row">
    <div class="large-12 large-centered columns">
      <h3 class="heading"><d></d></h3>
    </div>
    <div class="large-12 columns">
        <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-4">
              <div class="ch-info planned">
                <h3>2013</h3>
                <h4>November 16-17</h4>
                <a href="http://devthonhyd.explara.com" target="_blank" data-city="hyderabad" class="register-hyd-city">Register</a>
                <p>Hyderabad</p>
              </div>
            </div>
          </li>
        </ul>
        <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-4">
              <div class="ch-info done">
                <h3>2013</h3>
                <h4>October 5-6</h4>
                <a href="http://j.mp/devthon4" target="_blank" data-action="read blog" 
                   data-city="hyderabad" class="read-blog">Event Report</a>
                <p>Hyderabad</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-4">
              <div class="ch-info done">
                <h3>2013</h3>
                <h4>August 10-11</h4>
                <a href="http://j.mp/devthon03" target="_blank" data-city="hyderabad" class="register-hyd-city">Event Report</a>
                <p>Hyderabad</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-5">
              <div class="ch-info done">
                <h3>2013</h3>
                <h4>June 8-9</h4>
                <a href="http://j.mp/devthon3" target="_blank" data-action="read blog" 
                   data-city="bangalore" class="read-blog">Event Report</a>
                <p>Bangalore</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info done">
                <h3>2013</h3>
                <h4>March 30-31</h4>
                <a href="http://j.mp/devthon2" target="_blank" data-action="read blog" 
                   data-city="hyderabad" class="read-blog">Event Report</a>
                <p>Hyderabad</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-2">
              <div class="ch-info">
                <h3>2013</h3>
                <h4>Coming soon</h4>
                <a href="http://facebook.com/groups/devthon" target="_blank" 
                   data-action="join forum" data-city="mumbai" class="join-forum">Join discussions</a>
                <p>Mumbai</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info">
                <h3>2013</h3>
                <h4>Coming soon</h4>
                <a href="http://facebook.com/groups/devthon" target="_blank" 
                   data-action="join forum" data-city="delhi" class="join-forum">Join discussions</a>
                <p>Delhi</p>
              </div>
            </div>
          </li>
        </ul>
        <ul class="ch-grid">
        </ul>
    </div>
</template>
