<template name="friends">
  <div id="friends">
    <div class="large-12 large-centered row">
    	<h3 class="heading"><d>•</d> Friends <d>•</d></h3>
    	<div class="large-10 large-centered columns">
    		<div class="large-6 columns">
	    		<h4 class="titles">Edition 0.4 - 0.5 - 0.6</h4>
		    	<ul class="large-block-grid-1">
		    		<li>
		    			<div>
		    				<a href="http://www.purpletalk.com/" target="_blank">
		    					<img src="/assets/friends/purpletalk.png">
		    				</a>
		    			</div>
		    		</li>
		    	</ul>
    		</div>

    		<div class="large-6 columns">
	    		<h4 class="titles">Edition 0.1 - 0.4 - 0.5</h4>
		    	<ul class="large-block-grid-1">
		    		<li>
		    			<div>
		    				<a href="http://www.azrisolutions.com/" target="_blank">
		    					<img src="/assets/friends/azri.png">
		    				</a>
		    			</div>
		    		</li>
		    	</ul>
    		</div>

    		<div class="large-12 columns">
	    		<h4 class="titles">Edition 0.1</h4>
		    	<ul class="small-block-grid-3 large-block-grid-3">
		    		<li><img src="/assets/friends/_mowbly.png"></li>
		    		<li><img src="/assets/friends/mozilla_wordmark.png"></li>
		    		<li><img src="/assets/friends/hands.png"></li>
		    	</ul>
    		</div>    		
    	</div>
    </div>
</template>
