
<template name="hackers">
  <div id="hackers" class="row">
	<div class="large-12 large-centered columns">
		<h4>Hacker definition from the <a href="" target="_blank">Hacker Dictionary</a></h4>
		<p>
    hacker: [originally, someone who makes furniture with an axe] n. 
    <br>
    1. One who enjoys the intellectual challenge of creatively overcoming or circumventing limitations. 
    <br>
    2. An expert or enthusiast of any kind. One might be an astronomy hacker, for example. 
    <br>
    3. One who programs enthusiastically (even obsessively) or who enjoys programming rather than just theorizing about programming. 
    <br>
    4. A person who enjoys exploring the details of programmable systems and how to stretch their capabilities, as opposed to most users, who prefer to learn only the minimum necessary. 
    </p>
  </div>

  {{#if hackerlist}}
	<div class="large-12 large-centered columns">
        <h4>Hackers at Devthon</h4>
	</div>
  <div class="row"> 
      {{#each hackerlist}}
          {{> hackerbox}}
      {{/each}}
  </div>
  {{/if}}
      
  </div>
    

  <div id="firstModal" class="reveal-modal">
    <h2>This is a modal.</h2>
    <p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
    <p>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.</p>
   
    <a class="close-reveal-modal">&#215;</a>
  </div>
    
</template>

<template name="hackerbox">
  <div class="large-4 columns hacker">
    <div class="large-6 columns">
      <img class="circular" src="{{image}}">
    </div>
    <div class="large-6 columns">
      <div class="alignThis">
        <p>{{name}}</p>
          {{#each projects}}
              <li>~ {{this}}</li>
	      {{/each}}
      </div>
    </div>
  </div>
</template>
