<template name="proposals">
	<div class="row">
		<div class="large-12 large-centered columns">
			<h3 class="heading"><d>•</d> Proposals <d>•</d></h3>
		</div>
		{{> tracks}}
	</div>
</template>

<template name="samples">
	{{#if hacks}}
	<div class="row">
		<div class="large-12 large-centered columns block">
			<h3 class="mainTextStyle"><span>Featured hacks and proposals</span></h3>
		</div>
		<div class="samples">
			<ul class="large-block-grid-3 samples">
				{{#each hacks}}
					<li>
						<a target="_blank" href="{{ link }}" data-action="visit proposal" data-track="{{track}}">
							<div class="hack-card {{edition}} large-12 large-centered small-9 small-centered columns">
								<div class="large-8 small-8 large-centered small-centered columns">
									<h4>{{ title }}</h4>
								</div>
								<div class="large-10 small-10 small-centered large-centered columns">
									<p>{{ description }}</p>
								</div>
							</div>
							
						</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{CFA "ordinary" "Collaborate/Propose a hack" "https://facebook.com/groups/devthon"}}
	{{/if}}
</template>

<template name="tracks">
	{{#each session}}
		<a target="_blank" href="{{link}}" class="visit-forum" data-action="visit forum" data-track="{{lowercase title}}">
			<div class="large-4 columns proposal">
				<div class="large-3 columns">
		  			<img class="icon" src="/assets/proposals/{{ image }}">
				</div>
				<div class="large-9 columns">
		  			<h4>{{ title }}</h4> 
		  		</div>
		  		<div class="large-12 columns">
					<p>{{ description }}</p>
		  		</div>
			</div>
		</a>
	{{/each}}
</template>