<template name="testimonials">
	{{#if tweets}}
	<div class="row">
		<div class="large-12 large-centered columns block">
			<h3 class="mainTextStyle noBottomPadding noBottomMargin">
				<span>What the hackers say</span>
			</h3>
			<div class="hacksay"><a href="/hackers">(See those who drove their ideas to action)</a></div>
		</div>

		<div class="large-12 large-centered small-10 small-centered columns">
			<ul class="large-block-grid-3 samples">
				{{#each tweets}}
				<li>
					<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden">
						<p> {{tweet}} </p>
						&mdash; {{name}} (@{{handle}}) 
						<a href="{{link}}">{{date}}</a>
					</blockquote>
					<div id="testimonial-tweet"></div>
				</li>
				{{/each}}
			</ul>
		</div>

	</div>

	{{CFA "success" "Be part of the tinkering crowd" "http://facebook.com/groups/devthon"}}
	{{/if}}
</template>
